<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>todo-app</display-name>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.se4f7.SWP.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.se4f7.SWP.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/user</url-pattern>
        <url-pattern>/load-data</url-pattern>
        <url-pattern>/edit-user</url-pattern>
        <url-pattern>/search-user</url-pattern>
        <url-pattern>/user-filter</url-pattern>
        <url-pattern>/user-filter-role</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/navbar.jsp</url-pattern>
        <url-pattern>/JS.jsp</url-pattern>
        <url-pattern>/update-user.jsp</url-pattern>
        <url-pattern>/user-manager-filter.jsp</url-pattern>
        <url-pattern>/user-manager.jsp</url-pattern>
        <url-pattern>/comments</url-pattern>
        <url-pattern>/time-out</url-pattern>
        <url-pattern>/search-by-ajax-admin</url-pattern>
        <url-pattern>/search-u-by-ajax</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/add</url-pattern>
        <url-pattern>/load-data</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/edit-profile</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/report</url-pattern>
        <url-pattern>/load-filter</url-pattern>
        <url-pattern>/add.jsp</url-pattern>
        <url-pattern>/update.jsp</url-pattern>
        <url-pattern>/user-priority-filter.jsp</url-pattern>
        <url-pattern>/user.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/load-data-user</url-pattern>
        <url-pattern>/view-cmt</url-pattern>
        <url-pattern>/upload-excel</url-pattern>
        <url-pattern>/search-name-u</url-pattern>
        <url-pattern>/search-by-ajax</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ExcelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFilterController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.LoadFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ForgetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOTPController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.CheckOTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ResetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UserDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UserManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilterController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UserFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilterRole</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UserFilterRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriorityController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.PriorityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFilterPriorityController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UserFilterPriorityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeOutController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.TimeOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFilterDueController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.LoadFilterDueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameUController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchNameUController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCMTController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.ViewCMTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCMTController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.DeleteCMTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.UploadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxAdController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchByAjaxAdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUByAjaxController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchUByAjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxController</servlet-name>
        <servlet-class>com.se4f7.SWP.controller.SearchByAjaxController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/load-data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelController</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFilterController</servlet-name>
        <url-pattern>/load-filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetController</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOTPController</servlet-name>
        <url-pattern>/check-otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassController</servlet-name>
        <url-pattern>/reset-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataController</servlet-name>
        <url-pattern>/load-data-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilterController</servlet-name>
        <url-pattern>/user-filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilterRole</servlet-name>
        <url-pattern>/user-filter-role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/search-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriorityController</servlet-name>
        <url-pattern>/priority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFilterPriorityController</servlet-name>
        <url-pattern>/user-priority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeOutController</servlet-name>
        <url-pattern>/time-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFilterDueController</servlet-name>
        <url-pattern>/load-filter-due</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameUController</servlet-name>
        <url-pattern>/search-name-u</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCMTController</servlet-name>
        <url-pattern>/view-cmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCMTController</servlet-name>
        <url-pattern>/delete-cmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelController</servlet-name>
        <url-pattern>/upload-excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxAdController</servlet-name>
        <url-pattern>/search-by-ajax-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUByAjaxController</servlet-name>
        <url-pattern>/search-u-by-ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxController</servlet-name>
        <url-pattern>/search-by-ajax</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
